DF-Lokesh2/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "DF-Lokesh2"
		},
		"LS_ADLS_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'LS_ADLS'"
		},
		"LS_ASQL_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_ASQL'"
		},
		"LS_BLOB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_BLOB'"
		},
		"DS_ADLS_EMP_Max_SRC_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().FileName"
		},
		"DS_ADLS_EMP_Max_SRC_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "EMP/Employees"
		},
		"DS_ADLS_EMP_Max_TGT_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"DS_ADLS_EMP_Max_TGT_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "Outbound/Emp_Max"
		},
		"DS_ADLS_Files_SRC_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"DS_ADLS_Files_SRC_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "EMP/Employees"
		},
		"DS_ADLS_Upsert_Employee_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "Employee.txt"
		},
		"DS_ADLS_Upsert_Employee_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "EMP"
		},
		"DS_BLOB_Event_SRC_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "*.txt"
		},
		"DS_BLOB_Event_SRC_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "lokesh"
		},
		"DS_BLOB_Event_TGT_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"DS_BLOB_Event_TGT_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "lokesh/Outbound"
		},
		"LS_ADLS_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://adlslokesh2.azuredatalakestore.net/webhdfs/v1"
		},
		"LS_ADLS_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "506f7cec-1d8f-4578-87a5-5d73dd551530"
		},
		"LS_ADLS_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "59843051-b9bd-40fa-8400-b19d744add1c"
		},
		"LS_ADLS_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "cb8eca64-bfd6-4bd8-b710-6e1f30e399d1"
		},
		"LS_ADLS_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "RG_Lokesh"
		},
		"Trigger_BLOB_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/cb8eca64-bfd6-4bd8-b710-6e1f30e399d1/resourceGroups/RG_Lokesh/providers/Microsoft.Storage/storageAccounts/storageaccountlokesh2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_ADLS_to_ADLS_MAX_SEQ_FIlE_CPY')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_ADLS_Files_SRC",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							]
						}
					},
					{
						"name": "Filter_Empfiles",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(toLower(item().name),'emp')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach_SeqNoandFname",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter_Empfiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter_Empfiles').output.value",
								"type": "Expression"
							},
							"batchCount": 5,
							"activities": [
								{
									"name": "AV_SeqNo",
									"type": "AppendVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "FSeqNo",
										"value": {
											"value": "@int(replace(replace(tolower(item().name),'emp',''),'.txt',''))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "AV_FNAMES",
									"type": "AppendVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "FNAME",
										"value": {
											"value": "@string(item().name)",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Set Variable_MaxSeqNo",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ForEach_SeqNoandFname",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "MaxSeqNo",
							"value": {
								"value": "@string(max(variables('FSeqNo')))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Filter_MaxFile",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Set Variable_MaxSeqNo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('FNAME')",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item(),variables('MaxSeqNo'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Variable_MaxFileName",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Filter_MaxFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "MaxFileName",
							"value": {
								"value": "@activity('Filter_MaxFile').output.value[0]",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CPY_MaxFile",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set Variable_MaxFileName",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDataLakeStoreSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureDataLakeStoreSink",
								"copyBehavior": "PreserveHierarchy"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_EMP_Max_SRC",
								"type": "DatasetReference",
								"parameters": {
									"FileName": {
										"value": "@variables('MaxFileName')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_EMP_Max_TGT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"variables": {
					"FNAME": {
						"type": "Array"
					},
					"FSeqNo": {
						"type": "Array"
					},
					"MaxSeqNo": {
						"type": "String"
					},
					"MaxFileName": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Files_SRC')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_EMP_Max_SRC')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_EMP_Max_TGT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Event')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 3,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_BLOB_Event_SRC",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_BLOB_Event_TGT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_Event_SRC')]",
				"[concat(variables('factoryId'), '/datasets/DS_BLOB_Event_TGT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_SP_UpSert_Employee_SCD1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CPY_Upsert_Employee",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDataLakeStoreSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"sqlWriterStoredProcedureName": "[concat('[', 'dbo].[spUpsertEmployee]')]",
								"sqlWriterTableType": "EmployeeType"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_Upsert_Employee",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Upsert_Employee_TGT",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Upsert_Employee')]",
				"[concat(variables('factoryId'), '/datasets/DS_Upsert_Employee_TGT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_EMP_Max_SRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Max EMP File Extract"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": {
						"value": "[parameters('DS_ADLS_EMP_Max_SRC_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('DS_ADLS_EMP_Max_SRC_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_EMP_Max_TGT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Max EMP File Extract"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "[parameters('DS_ADLS_EMP_Max_TGT_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('DS_ADLS_EMP_Max_TGT_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Files_SRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Max EMP File Extract"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"structure": [
					{
						"name": "DID",
						"type": "String"
					},
					{
						"name": "DNAME",
						"type": "String"
					},
					{
						"name": "MGR",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('DS_ADLS_Files_SRC_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('DS_ADLS_Files_SRC_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Upsert_Employee')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"structure": [
					{
						"name": "EID",
						"type": "Int32"
					},
					{
						"name": "DEPT",
						"type": "String"
					},
					{
						"name": "FNAME",
						"type": "String"
					},
					{
						"name": "LNAME",
						"type": "String"
					},
					{
						"name": "GENDER",
						"type": "String"
					},
					{
						"name": "ROLL",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('DS_ADLS_Upsert_Employee_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('DS_ADLS_Upsert_Employee_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_Event_SRC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BLOB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": "[parameters('DS_BLOB_Event_SRC_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('DS_BLOB_Event_SRC_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BLOB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_BLOB_Event_TGT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_BLOB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"typeProperties": {
					"fileName": "[parameters('DS_BLOB_Event_TGT_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('DS_BLOB_Event_TGT_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_BLOB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Upsert_Employee_TGT')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ASQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "employee"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('LS_ADLS_properties_typeProperties_dataLakeStoreUri')]",
					"servicePrincipalId": "[parameters('LS_ADLS_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_servicePrincipalKey')]"
					},
					"tenant": "[parameters('LS_ADLS_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('LS_ADLS_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('LS_ADLS_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ASQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_ASQL_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_BLOB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_BLOB_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_BLOB')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_Event",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/lokesh/",
					"blobPathEndsWith": "outbound/emp.txt",
					"scope": "[parameters('Trigger_BLOB_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated",
						"Microsoft.Storage.BlobDeleted"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_Event')]"
			]
		}
	]
}